.hamburger__nav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #070724;
    z-index: 2;
    padding: 25px 25px 0;
}

.hamburger__planets {
    font-family: 'Spartan', Arial, sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 1.36364px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;

}

.hamburger__planet {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    border-bottom: 1px solid rgb(255, 2555, 255, 0.2);
    height: 65px;
}

.hamburger__planet:hover {
    opacity: 0.5;
    cursor: pointer;
}

.hamburger__planet-icon {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    margin-right: 24px;
}


.hamburger__planet-link {
    text-decoration: none;

}

.hamburger__planet-name {
    color: #FFFFFF;
}

.hamburger__icon-chevron {
    background-image: url("../../assets/icon-chevron.svg");
    width: 6px;
    height: 8px;
    position: absolute;
    right: 0;
    margin-right: 5px;
}

.hamburger__planet-icon_mer {
    background-color: #419EBB;
}

.hamburger__planet-icon_mar {
    background-color: #D14C32;
}

.hamburger__planet-icon_ear {
    background-color: #6f2ed6;
}

.hamburger__planet-icon_jup {
    background-color: #D83A34;;
}

.hamburger__planet-icon_ura {
    background-color: #1EC1A2;
}

.hamburger__planet-icon_nep {
    background-color: #2D68F0;
}

.hamburger__planet-icon_sat {
    background-color: #CD5120;
}

.hamburger__planet-icon_ven {
    background-color: #EDA249;
}



