.header {
    position: relative;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgb(255, 2555, 255, 0.2);
}

.header__name {
    font-family: 'Antonio', sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -1.05px;
    margin: 22px 0 27px 32px;
}

.header__menu {
    display: none;
}

.header__nav {
    align-self: center;
    margin-right: 40px;
}

.header__planets {
    display: flex;
    flex-direction: row;
    list-style: none;

}

.header__planet {
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 33px;
}

.header__planet:last-of-type {
    margin-right: 0;
}

.header__planet-link_mer:hover, .header__planet-link_mer:active {
    color: #419EBB;
}

.header__planet-link_ven:hover, .header__planet-link_ven:active {
    color: #EDA249;
}

.header__planet-link_ear:hover, .header__planet-link_ear:active {
    color: #6D2ED5;
}

.header__planet-link_mar:hover, .header__planet-link_mar {
    color: #D14C32;
}

.header__planet-link_jup:hover, .header__planet-link_jup:active {
    color: #D83A34;
}

.header__planet-link_sat:hover, .header__planet-link_sat:active {
    color: #CD5120;
}

.header__planet-link_ura:hover, .header__planet-link_ura:active {
    color: #1EC1A2;
}

.header__planet-link_nep:hover, .header__planet-link_nep:active {
    color: #2D68F0;
}

.header__planet-link {
    text-decoration: none;
    color: #838391;
}

@media screen and (max-width: 1140px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .header__name {
        margin: 32px auto 28px;
    }

    .header__nav {
        margin: 0 auto;
    }

    .header__planets {
        padding: 0;
    }
}

@media screen and (max-width: 724px) {
    .header {
        flex-direction: row;
        padding: 16px 24px;
    }

    .header__name {
        margin: 0;
    }

    .header__nav {
        display: none;
    }

    .header__menu {
        display: block;
        background-image: url("../../assets/icon-hamburger.svg");
        width: 24px;
        height: 17px;

    }

    .header__menu:hover {
        cursor: pointer;
        opacity: 0.5;
    }
}
